.mr-100{
    margin-right: 100px!important;
}
.mr-20{
    margin-right: 20px!important;
}
.font-size-big{
    font-size: -webkit-xxx-large;
}
.mt-90{
    margin-top: 90px;
}

.mb-85{
    margin-bottom: 85px;
}

.mb-80{
    margin-bottom: 80px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

.pb-80{
    padding-bottom: 80px;
}



